body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1e1e2e;
  color: #f5e0dc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  flex-grow: 1;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
  background-color: #575279;
  color: #f5e0dc;
  border: 1px solid #b09a93;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
}

select {
  width: auto;
  background-color: #322f44;
}

input:focus, select:focus, button:focus {
  border-color: #f4a300;
}

pre {
  background: #333344;
  padding: 10px;
  border: 1px solid #b09a93;
  color: #f5e0dc;
}

.field-group {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-bottom: 5px;
  max-width: 400px;
}

.variableName {
  flex-grow: 1;
  height: 40px;
  padding: 10px;
}

.removeButton {
  background: #ca3b3b;
  color: #1e1e2e;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.removeButton:hover {
  background: #f5b5b5;
}

button {
  background-color: #7f4db0;
  border: 1px solid #b09a93;
}

button:hover {
  background-color: #9e66d5;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#downloadButton {
  display: block;
  margin: 20px auto;
  background-color: #7f4db0;
  padding: 10px 20px;
  border: 1px solid #b09a93;
  color: #f5e0dc;
  cursor: pointer;
}

#downloadButton:hover {
  background-color: #9e66d5;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.button-container button {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  background-color: #7f4db0;
  border: 1px solid #b09a93;
  color: #f5e0dc;
  cursor: pointer;
  border-radius: 10px;
}

.button-container button:hover {
  background-color: #9e66d5;
}